{% extends 'base.html' %}

{% block content %}
    <div class="py-5  section bg-faded">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="">Blog Post number ONE</h1>
                    <div class="text-success"><span>December 23, 2017</span> <span>by</span> <span><a
                            href="#">Kalleen</a></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg">
                </div>
                <div class="col-md-8">
                    <p class="lead">Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula
                        porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non
                        commodo luctus, nisi erat porttitor ligula, eget lacinia odio
                        sem nec elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus
                        auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="">Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat
                        porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem
                        lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus
                        auctor fringilla. Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus
                        ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec
                        ullamcorper nulla non metus auctor fringilla. Donec
                        sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur
                        blandit tempus porttitor.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus,
                        tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
                        risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                        Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna,
                        vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
                        dolor auctor. Curabitur blandit tempus porttitor.
                        Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Vestibulum id ligula
                        porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="blockquote">
                        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare
                            sem lacinia quam venenatis vestibulum.</p>
                        <div class="blockquote-footer">Cras Pellentesque</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="">Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus
                        auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam.
                        Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis
                        mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus
                        commodo, tortor mauris condimentum nibh, ut fermentum massa
                        justo sit amet risus. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus
                        porttitor. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis
                        ornare vel eu leo. Donec sed odio dui.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="pi-item">Leave a comment</h1>
                    <form>
                        <fieldset class="form-group"><label for="exampleInputEmail1">Your name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Your name">
                        </fieldset>
                        <fieldset class="form-group"><label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </fieldset>
                        <fieldset class="form-group"><label for="exampleInputEmail1">Your Comment</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   placeholder="Enter your comment"></fieldset>
                        <button type="submit" class="btn btn-warning btn-lg my-3 btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}